{{define "content"}}
  <div class="container mx-auto">
    <h1>Bionic Attendance <small class="fs-5">Total Meetings: {{.TotalMeetings}}</small></h1>

    <table class="table table-striped text-nowrap datatable">
	    <thead>
	      <tr>
		      <th>First</th>
		      <th>Last</th>
		      <th>Total</th>
		      <th>Percent</th>
		      {{range .Meetings}}
		        <th>{{.}}</th>
			  {{end}}
			  <th>Actions</th>
	      </tr>
	    </thead>
	    <tbody>
	      {{range .Rows}}
			      {{$row:=.}}
			    <tr>
				    <td title="{{.UserID}}">{{.FirstName}}</td>
				    <td>{{.LastName}}</td>
				    <td>{{.Total}}</td>
				    <td>{{printf "%.2f" .Percent}}%</td>
				    {{range $.Meetings}}
						    <td>{{index $row.Meetings .}}</td>
				    {{end}}
					<td>
						<a href="/edit/{{.UserID}}" class="btn btn-info btn-sm">Edit</a>
					</td>
			    </tr>
	      {{end}}
{{/*	      {{range .Users}}*/}}
{{/*	      <tr>*/}}
{{/*					<td>{{.FirstName}}</td>*/}}
{{/*		      <td>{{.LastName}}</td>*/}}
{{/*	      </tr>*/}}
{{/*	      {{end}}*/}}
	    </tbody>
    </table>

  </div>
{{end}}