{{define "content"}}
  <script src="/static/papaparse/papaparse-5.0.2.min.js"></script>
  <script>
    //http://stackoverflow.com/a/1496863
    function replaceNbsps(str) {
      let re = new RegExp(String.fromCharCode(160), "g");
      return str.replace(re, " ");
    }

    //http://jsfiddle.net/terryyounghk/KPEGU/
    function _rows2csv($rows) {
      // Temporary delimiter characters unlikely to be typed by keyboard
      // This is to avoid accidentally splitting the actual contents
      let tmpColDelim = String.fromCharCode(11); // vertical tab character
      let tmpRowDelim = String.fromCharCode(0); // null character
      // actual delimiter characters for CSV format
      let colDelim = '","';
      let rowDelim = '"\r\n"';
      return '"' + $rows.map(function (i, row) {
        let $row = $(row);
        let	$cols = $row.find('td:not(.js-csv-exclude),th:not(.js-csv-exclude)');
        return $cols.map(function (j, col) {
          let $col = $(col);
          let text = $col.text();
          if (text.trim().length === 0) {
            text = $col.find('input').val()
          }
          let a = text.replace('"', '""');
          // escape double quotes
          return replaceNbsps(a);
        }).get().join(tmpColDelim);
      }).get().join(tmpRowDelim)
              .split(tmpRowDelim).join(rowDelim)
              .split(tmpColDelim).join(colDelim) + '"\r\n';
    }

    function exportTableToCSV($table, filename) {
      let $bodyrows = $table.find('tr:has(td)');
      let $headrows = $table.find('tr:has(th)');

      // Grab text from table into CSV formatted string
      let csv = _rows2csv($headrows);
      csv += _rows2csv($bodyrows);
      // Data URI
      let csvData = 'data:application/csv;charset=utf-8,' + encodeURIComponent(csv);

      const a = document.createElement('a');
      a.href = csvData;
      a.target = '_blank';
      a.download = filename;
      a.click();
    }
  </script>
  <script>
    let rowCounter = 0;
    function clearTable() {
      let $table = $(".js-data-table")

      $table.find('tr:has(td)').map((idx, row)=>{
        if (idx === 0) {
          $(row).find("td input").map((idx, field) => {
            $(field).val("") // empty the row
          })
        } else {
          $(row).remove()
        }
      })
    }
    function addRow($table, data) {
      rowCounter ++;
      let headerMap = {}
      $table.find("tr:has(th) th:not(.js-csv-exclude)").map((idx, th)=>{
        headerMap[idx] = $(th).text()
      })
      let $clone = $(".js-data-table tbody tr:first-child").clone()
      $clone.find("td input").map((idx, field) => {
        $(field).val("") // empty the row
        if (data) {
          $(field).val(data[headerMap[idx]])
        }
        $(field).attr("name", function (params) {
          rowCounter
        })
        //set names to rowCount+1

      })
      $(".js-data-table tbody").append($clone)
    }

    $(document).ready(() => {
      let $table = $(".js-data-table")
      $table.on("click", ".js-add-row", (evt) => {
        evt.preventDefault()
        console.log("Click Add Row")
        addRow($table)
      })
      $table.on("click", ".js-remove-row", (evt) => {
        evt.preventDefault()

        if ($table.find("tbody tr").length > 1) {
          evt.target.closest("tr").remove()
        } else {
          alert("Sorry, can't delete the last row")
        }
      })

      $(".js-upload-ss").on("click", (evt) => {
        evt.preventDefault()

        let input = $(document.createElement("input"));
        input.attr("type", "file");
        input.trigger("click"); // opens dialog

        input.on("change", (evt) => {
          let file = input.get(0).files[0]

          Papa.parse(file, {
            header: true,
            complete: function (results) {
              console.log('parse', results.data)
              clearTable()

              for (const datum of results.data) {
                let lenRow = Object.values(datum).reduce((accum, val)=>{
                  accum += val
                  return accum
                },"").trim().length
                if (lenRow > 0) {
                  addRow($table, datum)
                }
              }
              // remove first row as its blank after adding new rows for imported data
              $table.find("tbody tr:first-child").remove()

            }
          })
        })
      })
      $(".js-download-ss").on("click", (evt) => {
        evt.preventDefault()
        console.log("Click Download")
        exportTableToCSV($table, "test.csv")
      })
      $(".js-clear-table").on("click", (evt) => {
        evt.preventDefault()
        clearTable()
      })
    })
  </script>
  <div class="container">

    <h1><b><u>Task:</u></b> <small>{{.task.NiceName}}</small></h1>
    <p>{{.task.Desc}}</p>

    <div class="d-flex">
      <h3>Step 1: <small>Enter Task Data</small></h3>
      <div class="m-auto"></div>
      <div class="align-items-center">
        <button class="btn btn-warning js-clear-table">Clear Table</button>
        <button class="btn btn-info js-upload-ss">Upload Spreadsheet</button>
        <button class="btn btn-primary js-download-ss">Download Spreadsheet</button>
      </div>
    </div>

    <form action="/task/{{.task.Name}}/deploy" method="post">
      <input type="hidden" name="task_name" value="{{.task.Name}}">
      <table class="table table-striped table-bordered js-data-table">
        <thead>
          <tr>
            <th title="Practice ID">SAP ID</th>
            <th title="IDEXX VetLab Station Serial Number">IVLS SN</th>
            <th title="Instrument Serial Number">Inst SN</th>
            {{range .task.Fields}}
              <th title="{{.Desc}}">{{.NiceName}}</th>
            {{end}}
            <th class="js-csv-exclude">
              <button class="btn btn-primary btn-sm text-nowrap js-add-row">Add Row</button>
            </th>
          </tr>
        </thead>
        <tbody>
        <tr>
          <td>
            <input type="text" class="form-control" name="sap_id" title="Practice ID">
          </td>
          <td>
            <input type="text" class="form-control"  name="ivls_sn" title="IDEXX VetLab Station Serial Number">
          </td>
          <td>
            <input type="text" class="form-control" name="inst_sn" title="Instrument Serial Number">
          </td>
          {{range .task.Fields}}
            <td>
              <input type="{{.HTMLType}}" class="form-control" name="{{.Name}}" title="{{.Desc}}" step="any">
            </td>
          {{end}}
          <td class="js-csv-exclude">
            <button class="btn btn-danger btn-sm text-nowrap js-remove-row">Remove Row</button>
          </td>
        </tr>
        </tbody>
      </table>

      <h3>Step 2: <small>Smart Service Credentials</small></h3>

      <div class="col-6 mb-3">
        <label for="ss-username" class="form-label fw-bold">Username</label>
        <input type="text" class="form-control" name="ss-username" placeholder="username">
      </div>
      <div class="col-6 mb-3">
        <label for="ss-password" class="form-label fw-bold">Password</label>
        <input type="password" class="form-control" name="ss-password" placeholder="password">
      </div>
      <div class="col-6 mb-3">
        <label for="ss-env" class="form-label fw-bold">Environment</label>
        <select name="ss-env" class="form-select">
          <option selected>Choose Environment</option>
          <option value="dev01">dev01</option>
          <option value="qa01">qa01</option>
          <option value="stage">stage</option>
          <option value="prod">prod</option>
        </select>
      </div>
      <div class="col-6 mb-3">
        <label for="ss-dry" class="form-label fw-bold">Perform Dry Run?</label>
        <select name="ss-dry" class="form-select">
          <option selected>Choose</option>
          <option value="true">yes</option>
          <option value="false">no</option>
        </select>
      </div>

      <h3>Step 3: <small>Roll Out</small></h3>
      <button class="btn btn-success">Deploy</button>

    </form>
  </div>
{{end}}